  
body {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

header {
    height: 55px;
}

footer{
    background-color: yellow;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.logo {
 width: 100px;
 height: 55px;
}
